{
  "extends": "airbnb/base",
  "plugins": [
    "ava"
  ],
  "globals": {
    "process": true
  },
  "rules": {
    "no-param-reassign": "off",

    "ava/assertion-arguments": ["error"],
    "ava/max-asserts": ["error", 10],
    "ava/no-async-fn-without-await": "error",
    "ava/no-cb-test": "off",
    "ava/no-duplicate-modifiers": "error",
    "ava/no-identical-title": "error",
    "ava/no-ignored-test-files": "error",
    "ava/no-invalid-end": "error",
    "ava/no-nested-tests": "error",
    "ava/no-only-test": "error",
    "ava/no-skip-assert": "error",
    "ava/no-skip-test": "error",
    "ava/no-statement-after-end": "error",
    "ava/no-todo-implementation": "warn",
    "ava/no-todo-test": "warn",
    "ava/no-unknown-modifiers": "error",
    "ava/prefer-async-await": "error",
    "ava/prefer-power-assert": "off",
    "ava/test-ended": "off",
    "ava/test-title": ["error", "always"],
    "ava/use-t-well": "off",
    "ava/use-t": "error",
    "ava/use-test": "error",
    "ava/use-true-false": "warn"
  }
}